---
layout: default
title: Home
---
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date: " %Y-%m-%d" }}" class="post-date">{{ post.date | date: "%Y-%m-%d" }}</time>

    {% assign content_limit = 140 %}
    {% assign post_content = post.content | strip_html | truncate: content_limit, "" %}

    {{ post_content }}
    {% if post.content.size > content_limit %}
    <p><a href="{{ post.url | relative_url }}">続きを読む</a></p>
    {% endif %}
  </article>
  {% endfor %}
</div>

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->